*{
  margin: 0;
  padding: 0;
}

#root{
  background-color: #b3a4d4;
}

.App {
  text-align: center;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#avatar{
  border: 5px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.header{
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-inline: 100%;
  padding-block: 2%;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

nav {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
}

.navbar {
  background-color: #333333;
  color: white;
  width: 100%;
  padding-bottom: 5px;
}